<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <div class="container" >
     
    <div class="content">      

      <div id="login">
      
        <form method="post" action=""> 
          <h1>Login</h1> 
          
          <p> 
            <label for="nome_usuario">Nome de usuário</label>
            <input id="nome_usuario" name="usuarioLogin" required="required" type="text" placeholder="ex. usuario123"/>
          </p>
           
          <p> 
            <label for="senha_login">Sua senha</label>
            <input id="senha_usuario" name="senhaLogin" required="required" type="password" placeholder="ex. senha123" /> 
          </p>
           
          <p> 
            <input type="submit" value="Logar" /> 
          </p>
 
        </form>
      </div>
    </div>
  </div>  
</body>
</html>