<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="pt-br">

<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="style/styleCSS.css" />
</head>

<header>
	<nav>
		<div class="nav-wrapper">
			<font face="ITC Avant Garde Gothic"><class="brand-logo center">Login</font></a>
			<i class="material-icons left">copyright</i>Sitema Info
		</div>
	</nav>
</header>

<form class="container login" method="POST">

	<div th:if="${flashMessage != null}">
		<h6>
			<font face="Bahnschrift" color="RED">
				<div th:replace="MensagemValidacao :: alert (type=${flashType}, message=${flashMessage})"></div>
			</font>
		</h6>
	</div>

	<b>
		<div class="input-field col s6">
			Usuário: <input type="text" value="" name="usuarioLogin" placeholder="ex. usuario123" />
		</div>
		<div class="input-field col s6">
			Senha:<input type="password" value="" name="senhaLogin" placeholder="ex. minhasenha123" />
		</div>
	</b>

	<button class="waves-effect waves-light btn" type="submit">Entrar</button>
</form>
</body>

</html>