<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="pt-br">

<head>
	<title>EventosApp</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="style/styleCSS.css" />
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<font face="ITC Avant Garde Gothic"><a href="!" class="brand-logo center">Tela principal</font></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/login" class="waves-effect waves-light btn"><i
								class="material-icons left">format_list_bulleted</i>Tela de login</a></li>
					<li><a href="/cadastroUsuario" class="waves-effect waves-light btn"><i
								class="material-icons left">format_list_bulleted</i>Cadastrar usuário</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container mensagemSucesso">
		<div th:if="${flashMessage != null}">
				<h5>
					<font face="Bahnschrift" color="GREEN" style="background-color:GREEN">
						<div th:replace="MensagemSucesso :: alert (type=${flashType}, message=${flashMessage})">
					</font>
			</div>
			</h5>
	</div>

</body>

</html>